{% extends 'main_app/base.html' %}
{% load static %}
{% block content %}
<div class="m-auto w-10/12 rounded-2xl bg-white p-11 shadow-card md:w-8/12 mt-10 border-4">
    <h2 class="text-2xl font-bold mb-4 text-white text-center">Add Course</h2>
    <form action="{% url 'courses_certifications_app:add_course_view' %}" method="post" enctype="multipart/form-data" class="flex flex-col justify-center gap-5 md:grid md:grid-cols-2">
        {% csrf_token %}
        <div class="space-y-2">
            <label for="title" class="text-md font-medium leading-none text-gray-900">Course Title</label>
            <input type="text" name="title" id="title" required
                   class="border-input bg-background ring-offset-background placeholder:text-muted-foreground focus-visible:ring-ring flex h-10 w-full border px-3 text-sm rounded-lg py-2 focus:outline-none focus:ring-2 focus:ring-offset-2">
        </div>
        <div class="space-y-2">
            <label for="description" class="text-md font-medium leading-none text-gray-900">Description</label>
            <textarea name="description" id="description" required
                      class="border-input bg-background ring-offset-background placeholder:text-muted-foreground focus-visible:ring-ring flex h-10 w-full border px-3 text-sm rounded-lg py-2 focus:outline-none focus:ring-2 focus:ring-offset-2"></textarea>
        </div>
        <div class="space-y-2">
            <label for="duration" class="text-md font-medium leading-none text-gray-900">Duration</label>
            <input type="text" name="duration" id="duration" required
                   class="border-input bg-background ring-offset-background placeholder:text-muted-foreground focus-visible:ring-ring flex h-10 w-full border px-3 text-sm rounded-lg py-2 focus:outline-none focus:ring-2 focus:ring-offset-2">
        </div>
        <div class="space-y-2">
            <label for="prerequisites" class="text-md font-medium leading-none text-gray-900">Prerequisites</label>
            <textarea name="prerequisites" id="prerequisites"
                      class="border-input bg-background ring-offset-background placeholder:text-muted-foreground focus-visible:ring-ring flex h-10 w-full border px-3 text-sm rounded-lg py-2 focus:outline-none focus:ring-2 focus:ring-offset-2"></textarea>
        </div>
        <div class="space-y-2">
            <label for="image" class="text-md font-medium leading-none text-gray-900">Course Image</label>
            <input type="file" name="image" id="image" accept="image/*"
                   class="border-input bg-background ring-offset-background placeholder:text-muted-foreground focus-visible:ring-ring flex h-10 w-full border px-3 text-sm rounded-lg py-2 focus:outline-none focus:ring-2 focus:ring-offset-2">
        </div>
        <div class="col-span-2 w-full">
            <button type="submit" class="inline-flex items-center justify-center whitespace-nowrap text-md font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 bg-orange-500 text-white hover:bg-orange-300 h-10 px-8 py-4 rounded-lg">
                Add Course
            </button>
        </div>
    </form>
</div>
{% endblock %}