{% extends 'base.html' %}
{% block title %} {{ user.username}} Profile {% endblock %}

{% block main %}
<main>

    <div class="container">
        <div class="row">
            <div class="col-3 m-3">
                <img src="{{user.profile.avatar.url}}" class="rounded-4 w-100">
                <h1 class="text-center">@{{ user.username }}</h1>
                <p class="text-center">{{ user.first_name }} {{ user.last_name }}</p>
                <p class="text-center">Since: {{user.profile.created_at}}</p>
                {% if request.user == user %}
                <div class="d-flex gap-2 w-100 justify-content-center">
                    <a class="btn btn-danger" href="{% url 'accounts:log_out' %}">Sign Out</a>
                    <a class="btn btn-warning " href="{% url 'accounts:update_profile_view' %}">Update Account</a>
                </div>
                {% endif %}
            </div>
            <div class="col">
                <div class="container shadow rounded mb-4 p-5">
                    <h3>About: </h3>
                    <p>{{user.profile.about}}</p>
                </div>
                <div class="container shadow rounded p-5 mb-4">
                    <h2><span class="material-symbols-outlined">reviews</span>Reviews</h2>

                    {% for review in user.carreview_set.all %}
                    <div class="row p-3 rounded shadow m-3">
                        <div class="col ">
                            <h4><a href="{% url 'brands:brand_details_view' review.car.brand.id %}">{{ review.car.brand }}</a> : <a href="{% url 'cars:car_details_view' review.car.id %}">{{review.car}}</a></h4>
                            <h5>Rating: {{review.rating}}</h5>
                            <p>Comment: {{review.comment}}</p>
                            <h6>At: {{review.reviewed_at}}</h6>
                        </div>
                        <div class="col text-end">
                            <img src="{{ review.car.photo.url}}">
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="container shadow rounded p-5">
                {% if request.user == user %}
                <h3><span class="material-symbols-outlined">bookmarks</span>Bookmarks</h3>
                {% for bookmark in request.user.bookmark_set.all %}
                <div class="row p-3 rounded shadow m-3">
                    <div class="col ">
                        <h4><a href="{% url 'brands:brand_details_view' bookmark.car.brand.id %}">{{ bookmark.car.brand }}</a> : <a href="{% url 'cars:car_details_view' bookmark.car.id %}">{{bookmark.car}}</a></h4>

                        <h6>At: {{bookmark.created_at}}</h6>
                        {% if is_bookmarked %}
                        <a href="{% url 'cars:add_bookmark_view' bookmark.car.id %}" class="text-end"> <span class="material-symbols-outlined">bookmark_check</span></a>
                        {% else %}
                        <a href="{% url 'cars:add_bookmark_view' bookmark.car.id %}" class="text-end"> <span class="material-symbols-outlined">bookmark_add</span></a>
                        {% endif %}
                    </div>
                    <div class="col text-end">
                        <img src="{{ bookmark.car.photo.url}}">
                    </div>
                </div>
                {% endfor %}
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}