{% extends 'main_app/base.html' %}
{% load static %}
{% block content %}
<main class="p-20">
<h3 class="text-xl font-semibold mb-2  text-center border-2 border-orange-500 mt-10 mb-10 w-full">{{ company.name }}</h3>
<div class="space-y-4">
    <div class="flex flex-col gap-2">
        <img src="{{ company.logo.url }}" class="h-50 w-50 object-cover rounded-md" alt="company logo">
        <div class="flex justify-between">
            <p class="text-gray-500 text-sm">Time of adding the company: {{ company.date_added }}</p>
        </div>
        <p class="text-gray-600 text-center mt-8">{{ company.description }}</p>
        <p class="text-gray-600">Website: <a href="{{ company.website }}" class="text-blue-500" target="_blank">{{ company.website }}</a></p>
        <p class="text-gray-600">Specialization: {{ company.specialization }}</p>
    </div>
    <div class="flex justify-end gap-2">
        <a href="{% url 'events_companies_app:update_company_view' company.id %}" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 transition">Update</a>
        <a href="{% url 'events_companies_app:delete_company_view' company.id %}" class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600 transition">Delete</a>
    </div>
</div>
</main>
{% endblock %}



