<div class="row row-cols-1 row-cols-md-2">
    {% for flashcard in flashcards %}
    <div class="col p-0">
        <div class="flashcard-card d-flex flex-column shadow mx-2 my-2 p-2 gap-2">
            <div class="d-flex justify-content-between">
                <a href="{% url 'flascards:details_flashcard_view' flascard.id %}" class="main-link"><h5>{{ flashcard.name }}</h5></a>
                <div class="card-logo"><img src="{{ flashcard.subject.logo.url }}" alt="{{flashcard.subject.name}} logo"></div>
            </div>
            <div class="card-image">
                <img src="{{ flashcard.photo.url }}" alt="{{ flashcard.name }}" />
            </div>
            <h5>Published: {{ flashcard.created_at }}</h5>
            <div class="d-flex">
                <h5>Description:</h5>
                <p>{{ flashcard.description }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>