{% extends 'main/base.html' %}
{% load static %}

{% block title %} Artists{% endblock %}
{% block style %}
<style>
    .team-boxed {
        color: #313437;
        background-color: #eef4f7;
    }

    .team-boxed p {
        color: #7d8285;
    }

    .team-boxed h2 {
        font-weight: bold;
        margin-bottom: 40px;
        padding-top: 40px;
        color: inherit;
    }

    @media (max-width: 767px) {
        .team-boxed h2 {
            margin-bottom: 25px;
            padding-top: 25px;
            font-size: 24px;
        }
    }

    .team-boxed .intro {
        font-size: 16px;
        max-width: 500px;
        margin: 0 auto;
    }

    .team-boxed .intro p {
        margin-bottom: 0;
    }

    .team-boxed .people {
        padding: 50px 0;
    }

    .team-boxed .item {
        text-align: center;
    }

    .team-boxed .item .box {
        text-align: center;
        padding: 30px;
        background-color: #fff;
        margin-bottom: 30px;
    }

    .team-boxed .item .name {
        font-weight: bold;
        margin-top: 28px;
        margin-bottom: 8px;
        color: inherit;
    }

    .team-boxed .item .title {
        text-transform: uppercase;
        font-weight: bold;
        color: #d0d0d0;
        letter-spacing: 2px;
        font-size: 13px;
    }

    .team-boxed .item .description {
        font-size: 15px;
        margin-top: 15px;
        margin-bottom: 20px;
    }

    .team-boxed .item img {
        max-width: 160px;
    }

    .team-boxed .social {
        font-size: 18px;
        color: #a2a8ae;
    }

    .team-boxed .social a {
        color: inherit;
        margin: 0 10px;
        display: inline-block;
        opacity: 0.7;
    }

    .team-boxed .social a:hover {
        opacity: 1;
    }
</style>
{% endblock %}
{% block content %} 

<div class="team-boxed">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Successful Partners</h2>
            <p class="text-center">
                Our successful partners are industry leaders and innovators who have consistently demonstrated excellence in their fields. Their collaboration and support have been instrumental in driving our mission forward.
            </p>        </div>
            <div class="row people d-flex flex-wrap">
                {% for artist in artists %}
                    <div class="col-md-6 col-lg-4 item">
                        <div class="box">
                            <img class="rounded-circle" src="{{artist.logo.url}}">
                            <h3 class="name">{{ artist.name }}</h3>
                            <p class="title">{{ artist.title }}</p>
                            <p class="description">{{ artist.about }}</p>
                            <div class="social">
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="{{ artist.insta_url }}"><i class="fa fa-instagram"></i></a>
                                <a href="{% url 'providers:artist_detail_view' artist.id %}" class="btn btn-dark">View Details</a>
                                
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

{% endblock %}
