{% extends 'main/base.html' %}

{% block title %}Leave Requests - HR{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="text-center mb-4">Pending Leave Requests</h2>

        {% if leave_requests %}
            <ul class="list-group">
                {% for leave in leave_requests %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{ leave.employee.get_full_name }} - {{ leave.leave_type }} from {{ leave.start_date }} to {{ leave.end_date }}
                        <a href="{% url 'hr_leave_management:approve_reject_leave' leave.id %}" class="btn btn-info btn-sm">Approve/Reject</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No pending leave requests.</p>
        {% endif %}
    </div>
{% endblock %}
