{% extends 'main/base.html' %}



{% block title %}
    All Movies
{% endblock title %}


{% block content %}

<div class="container mt-5">
    <div class="d-flex justify-content-end gap-2">
        <form action="{% url 'movies:all_movies_view' %}" method="GET" >
            <div class="d-flex gap-3">
                <input type="search" class="form-control" placeholder="search for a specfic movie" value="{{request.GET.search}}" name="search"  />
                <select name="director" class="form-select">
                    <option value="" >all Directors</option>
                    {% for director in directors  %}
                        <option value="{{director.id}}" {% if request.GET.director|stringformat:"s" == director.id|stringformat:"s" %}selected{% endif %}>
                            {{director.name}}
                        </option>
                    {% endfor %}
                </select>
                <select name="genre"  class="form-select">
                    <option value="">all Genres</option>
                    
                    {% for genre in genres  %}
                        <option value="{{genre.id}}">
                            {{genre.name}}
                        </option>
                    {% endfor %}
                        
                </select>
        
                <input type="submit" value="apply" class="btn btn-primary"/>
            </div>
        </form>
        {% if request.user.is_superuser  %}
        <a href="{% url 'movies:add_movie_view' %}" class="btn btn-primary ">Add a new movie +</a>
        {% endif %}
    </div>

    {% include 'movies/movies_list.html' %}

    <div class="d-flex justify-content-center mt-4">
        <nav aria-label="Page navigation">
            
            <ul class="pagination">

                {% if movies.has_previous %}
                <li class="page-item">
                    <a class="page-link text-decoration-underline  text-dark" href="?page=1">
                        First
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link  text-dark" href="?page={{ movies.previous_page_number }}">
                        Previous
                    </a>
                </li>
                {% endif %}

                <li class="page-item disabled">
                    <span class="page-link">Page {{ movies.number }} of {{ movies.paginator.num_pages }}</span>
                </li>

                {% if movies.has_next %}
                <li class="page-item">
                    <a class="page-link  text-dark" href="?page={{ movies.next_page_number }}">
                        Next
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link text-decoration-underline  text-dark" href="?page={{ movies.paginator.num_pages }}">
                        Last
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>

</div>

{% endblock content %}
    