{% extends 'base.html' %}

{% block title %}Join Group{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="form-container">
        <h2>Join Group</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group d-flex flex-column">
                {{ form.unique_code.label_tag }}
                {{ form.unique_code }}
            </div>
            <button type="submit" class="btn btn-info w-100">Join Group</button>
        </form>
    </div>
</div>
{% endblock %}
