{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
    <h1 class="text-center">{{ user.username }}'s Profile</h1>

    <div class="card mb-4">
        <div class="card-header bg-primary text-white">
            <h2 class="mb-0">User Details</h2>
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Full Name:</strong> {{ user.first_name }} {{ user.last_name }}</li>
                <li class="list-group-item"><strong>Email:</strong> {{ user.email }}</li>
                <li class="list-group-item"><strong>Joined On:</strong> {{ user.date_joined|date:"F d, Y" }}</li>
            </ul>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header bg-success text-white">
            <h2 class="mb-0">Group Contributions</h2>
        </div>
        <div class="card-body">
            <p><strong>Total Contributions:</strong> ${{ user.profile.total_contributions }}</p>
            <p><strong>Contribution Limit:</strong> ${{ group.shared_goal_amount|floatformat:2 }} / {{ group.members.count }}</p>
            
            
                
        </div>
    </div>

    {% if group %}
    <div class="text-center">
        <a href="{% url 'groups:group_detail' group.id %}" class="btn btn-outline-primary">Back to Group</a>
    </div>
{% else %}
    <p>You are not currently in a group.</p>
{% endif %}
</div>
{% endblock %}
