{% extends 'main/base.html'%}
{%load static%}

   
    {%block head%}
    {%endblock%}
    {%block title%}<title>All Partners</title>{%endblock%}

     {%block content%}
      
        <div class="container py-2">
            <div class="border-bottom py-2">
                <h1 class="   text-center itim-regular  ">Partners {% if request.GET.filter_by_target or request.GET.filter_by_native or request.GET.filter_by_gender or request.GET.search %}
                     ({{all_partners.paginator.count}}){%endif%}
                </h1>
            </div>
            <div class="d-flex justify-content-end row"> 
                <form class=" py-2" method="get" action="{%url 'accounts:all_partners_profiles_view'%}">
                    {% csrf_token %}
                    <div class="filtring-and-search   gap-1 d-flex justify-content-center ">
                        <input type="search" class="form-control " placeholder="Search" value="{{request.GET.search}}" name="search" minlength="1"/>
                        <select name="filter_by_native" class="form-select ">
                            <option value="" selected disabled>Native Language</option> 
                            {% for language in languages%}
                            <option value="{{language.id}}" {%if request.GET.filter_by_lang == language.id %} selected {%endif%}>{{language.native_name}}</option>
                            {%endfor%}
                        </select>
                        <select name="filter_by_target" class="form-select ">
                            <option value="" selected disabled>Target Language</option> 
                            {% for language in languages%}
                            <option value="{{language.id}}" {%if request.GET.filter_by_lang == language.id %} selected {%endif%}>{{language.native_name}}</option>
                            {%endfor%}
                        </select>
                        <select name="filter_by_gender" class="form-select ">
                            <option value="" selected disabled>Gender</option> 
                            {% for val, lable in gender%}
                            <option value="{{val}}" {%if request.GET.filter_by_gender == val %} selected {%endif%}>{{lable}}</option>
                            {%endfor%}
                        </select>
                        <input type="submit" class="btn rounded-pill btn-orange text-white " value="Apply"/>
                        <a href="{%url 'accounts:all_partners_profiles_view'%}" class="btn btn-secondary rounded-pill text-white " value="clear">Clear </a>
                    </div>
                </form>
            </div>
            <div class="row my-4">
                {% for profile in all_partners %}
              <a href="{% url 'accounts:user_profile_view' profile.user.username%}" class="col-md-4 card-link mb-3">
                <div class="card">
                  <img src="{{profile.avatar.url}}" alt="Card image" style="height: 15rem;">
                  <div class="card-info">
                    <h5>{{profile.user.username}}</h5>
                    <div class="d-flex justify-content-start align-items-center gap-4">
                    <div class="d-flex gap-1 align-items-center">
                        <i class="fa-brands fa-creative-commons-by mb-2 text-orange"></i><h6>{{profile.native_language.name}}</h6>
                    </div>
                    <div class="d-flex gap-1 align-items-center">
                        <i class="fa-solid fa-bullseye mb-2 text-orange"></i><h6>{{profile.target_language.name}}</h6>
                    </div>
                </div>
                    <p>{{profile.about|truncatechars:90}}</p>
                  </div>
                </div>
              </a>
              {%endfor%}
            </div>
          </div>

    
          <br/>


<navbar aria-label="Page navigation example">
    <ul class="pagination justify-content-center gap-4">
        {% if all_partners.has_previous %}
            <li class="page-item">
                <a class="page-link rounded-circle px-3 py-2" href="?page={{ all_partners.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true"><i class="fa-solid fa-chevron-left"></i></span>
                </a>
            </li>
        {% else %}
            <li class="page-item disabled ">
                <span class="page-link rounded-circle px-3 py-2" aria-hidden="true"><i class="fa-solid fa-chevron-left"></i></span>
            </li>
        {% endif %}

        {% if all_partners.has_next %}
            <li class="page-item">
                <a class="page-link rounded-circle px-3 py-2" href="?page={{ all_partners.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true"><i class="fa-solid fa-chevron-right "></i></span>
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link rounded-circle px-3 py-2" aria-hidden="true"><i class="fa-solid fa-chevron-right"></i></span>
            </li>
        {% endif %}
    </ul>
</navbar>

     {%endblock%}