{% extends 'main/base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Sign Up</h2>
    <form method="POST" class="needs-validation">
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label">Username:</label>
            <input type="text" id="username" name="username" class="form-control" required>
            <div class="invalid-feedback">Please enter a username.</div>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" id="email" name="email" class="form-control" required>
            <div class="invalid-feedback">Please enter a valid email address.</div>
        </div>
        <div class="mb-3">
            <label for="first_name" class="form-label">First Name:</label>
            <input type="text" id="first_name" name="first_name" class="form-control" required>
            <div class="invalid-feedback">Please enter your first name.</div>
        </div>
        <div class="mb-3">
            <label for="last_name" class="form-label">Last Name:</label>
            <input type="text" id="last_name" name="last_name" class="form-control" required>
            <div class="invalid-feedback">Please enter your last name.</div>
        </div>
        <div class="mb-3">
            <label for="about" class="form-label">About address :</label>
            <textarea id="about" name="about" class="form-control" rows="4"></textarea>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input type="password" id="password" name="password" class="form-control" required>
            <div class="invalid-feedback">Please provide a password.</div>
        </div>
        <button type="submit" class="btn btn-primary w-100">Register</button>
    </form>
</div>
{% endblock %}
