{% extends "main/base.html" %}

{% block title %}Update Profile{% endblock %}

{% block content %}
<div class="card my-4">
    <div class="card-header">
        <h3>Update Profile</h3>
    </div>
    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="first_name" class="form-label">First Name:</label>
                <input type="text" id="first_name" name="first_name" class="form-control" value="{{ user.first_name }}">
            </div>
            <div class="mb-3">
                <label for="last_name" class="form-label">Last Name:</label>
                <input type="text" id="last_name" name="last_name" class="form-control" value="{{ user.last_name }}">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email:</label>
                <input type="email" id="email" name="email" class="form-control" value="{{ user.email }}">
            </div>
            <div class="mb-3">
                <label for="about" class="form-label">address:</label>
                <textarea id="about" name="about" class="form-control">{{ profile.about }}</textarea>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
</div>
{% endblock %}
