{% extends "main/base.html" %}

{% block title %}{{ user.username }}'s Profile{% endblock %}

{% block content %}
<div class="card my-4">
    <div class="card-header ">
        <h3>{{ user.username }}'s Profile</h3>
        <div class=""><h3><a class="btn btn-primary" href="{% url 'accounts:update_user_profile' %}">update your profile</a></h3></div>

    </div>
    <div class="card-body">
        <p><strong>First Name:</strong> {{ user.first_name }}</p>
        <p><strong>Last Name:</strong> {{ user.last_name }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        {% if profile %}
            <p><strong>address:</strong> {{ profile.about }}</p>
        {% else %}
            <p><em>No profile details available.</em></p>
        {% endif %}
    </div>
</div>


<div class="d-flex flex-column gap-3">
    {% for review in product.review_set.all %}
        <div class="d-flex flex-column p-3 shadow">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex gap-1 align-items-center">
                    <img src="{{ review.user.profile.avatar.url }}" class="rounded-circle avatar" />
                    <a href="{% url 'accounts:user_profile' review.user.username %}">
                        <h4 class="m-0 p-0">{{ review.user.first_name }} {{ review.user.last_name }}</h4>
                    </a>
                </div>
                <div class="d-flex align-items-center">
                    <span class="material-symbols-outlined">star</span>
                    <h5 class="m-0 p-0">{{ review.rating }}</h5>
                    {% if review.user == request.user or perms.products.delete_review %}
                    <a href="{% url 'products:delete_review' review.id %}" class="btn btn-danger ms-2">delete</a>
                    {% endif %}
                </div>
            </div>

            <p>{{ review.comment }}</p>
            <p class="text-muted">{{ review.created_at }}</p>
        </div>
    {% endfor %}
</div>


{% endblock %}
