.profile-nav-link{
    color: #fe5532;
}

.profile-nav-link:hover{
    color: #94321f;
}
.profile-nav-link.active{
    background-color: #fe5532 !important;
}

.bookmark-container{
    background-color: #f7f5f5 ;
    height: 8rem;
}

.bookmark-container img{
    border-radius: 8px 0px 0 8px;
    object-fit: cover;
}

.avatar-img{
    object-fit: cover;
    height: 14rem;
}

.request-container{
    height: 8rem;
    background-color: #f4d3ca ;

}
.request-container img{
    border-radius: 8px 0px 0 8px;
    object-fit: cover;
    width: 30%;

}