{% extends 'main/base.html' %}
{% load static %}

{% block title %}Pet List{% endblock %}

{% block content %}
<div class="container-fluid mt-3">
    <h2 class="text-center mb-4">List of Pets</h2>

    <form method="get" action="{% url 'pets:pet_list_view' %}" class="mb-4">
        <div class="row justify-content-center">
            <div class="col-md-4 mb-4">
                <input type="text" name="pet_name" class="form-control" placeholder="Search by Pet Name" value="{{ request.GET.pet_name }}">
            </div>
            <div class="col-md-4 mb-4">
                <select name="adoption_status" class="form-control">
                    <option value="">-- Search by Adoption Status --</option>
                    <option value="available" {% if request.GET.adoption_status == "available" %}selected{% endif %}>Available for Adoption</option>
                    <option value="adopted" {% if request.GET.adoption_status == "adopted" %}selected{% endif %}>Adopted</option>
                    <option value="not_available" {% if request.GET.adoption_status == "not_available" %}selected{% endif %}>Not Available for Adoption</option>
                </select>
            </div>
            <div class="col-md-2 mb-3">
                <button type="submit" class="btn btn-primary w-100">Search</button>
            </div>
        </div>
    </form>

    <div class="row">
        {% for pet in pets %}
        <div class="col-md-3 mb-4"> 
            <div class="card pet-card">
                <div class="card-img-wrapper">
                    {% if pet.image %}
                        <img src="{{ pet.image.url }}" class="card-img-top pet-img" alt="{{ pet.name }}">
                    {% else %}
                        <img src="{% static 'images/default_pet_image.jpg' %}" class="card-img-top pet-img" alt="Default image">
                    {% endif %}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ pet.name }}</h5>
                    <p class="card-text"><strong>Health Status:</strong> {{ pet.get_health_status_display }}</p>
                    <p class="card-text"><strong>Adoption Status:</strong> {{ pet.get_adoption_status_display }}</p>
                    <a href="{% url 'pets:pet_detail' pet_id=pet.id %}" class="btn btn-secondary">Read More</a>
                    <p class="card-text">
                        <strong>Added by:</strong> 
                        {% if pet.user.individual_user %}
                            <a href="{% url 'accounts:individual_profile' individual_id=pet.user.individual_user.id %}"class="btn btn-link">{{ pet.user.username }}</a>
                        {% elif pet.user.shelter %}
                            <a href="{% url 'accounts:shelter_profile' shelter_id=pet.user.shelter.id %}"class="btn btn-link">{{ pet.user.username }}</a>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="d-flex justify-content-center mt-4">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                {% if pets.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1&pet_name={{ request.GET.pet_name }}&adoption_status={{ request.GET.adoption_status }}" aria-label="First">
                            <span aria-hidden="true">&laquo;&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ pets.previous_page_number }}&pet_name={{ request.GET.pet_name }}&adoption_status={{ request.GET.adoption_status }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}
                
                <li class="page-item disabled">
                    <span class="page-link">Page {{ pets.number }} of {{ pets.paginator.num_pages }}</span>
                </li>

                {% if pets.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ pets.next_page_number }}&pet_name={{ request.GET.pet_name }}&adoption_status={{ request.GET.adoption_status }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ pets.paginator.num_pages }}&pet_name={{ request.GET.pet_name }}&adoption_status={{ request.GET.adoption_status }}" aria-label="Last">
                            <span aria-hidden="true">&raquo;&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
{% endblock %}
