.challenge-area{
    background-image: url("../images/challengeback.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   }

.challenge-area-img{
    border-right:1px solid #fe5532 !important;
}   
.head-challenge{
    color: black; 
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;

}


.form-check-input {
    display: none;
  }
  
  .radio-label {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #f0f0f0;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    margin-right: 10px;
    transition: background-color 0.3s ease;
  }
  
  .form-check-input:checked + .form-check-label .radio-label {
    background-color: #fe5532;
    color: white;
  }
  
  .form-check-input:hover + .form-check-label .radio-label {
    background-color: #e2e6ea;
  }
  
  .form-check-label {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
  }

.details-info{
    border-left:#bdbdbd 1px solid  !important;
}

.commentsHeading{
    border-bottom: #f4d3ca 1px solid;
}

.usernameLink{
    color: #f38b6b;
}