{% extends 'main/base.html' %}

{% block title %}All Products{% endblock %}

{% block content %}

<form method="get" action="{% url 'products:search_product' %}" class="d-flex justify-content-center">
    <input type="text" name="q" placeholder="Search for products" class="form-control" />
    <button type="submit" class="btn btn-primary">Search</button>
</form>

<div class="container mt-4">
    <h2 class="text-center">Products</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4 mt-4">
        {% for product in products %}
        <div class="col">
            <div class="card h-100">
                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text"> memory: {{ product.description }} </p>
                    <p class="text-muted">Price: ${{ product.price }}</p>
                    <a href="{% url 'products:detail_product' product.id %}" class="btn btn-primary">View Details</a>


                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
