{% extends 'main/base.html'%}
{%load static%}

   
    {%block head%}
    {%endblock%}
    {%block title%}<title>Home</title>{%endblock%}

     {%block content%}
      {% if messages %}
            <div class="messages">
         {% for message in messages %}
             <div class="alert {{ message.tags }}">
                 {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="d-flex flex-column  justify-content-center align-items-center gap-1">
            <h1 class="itim-regular text-center intro-phrase">Connecting Learners to opportunities</h1> 
            <h1 class="itim-regular rounded-pill text-center intro-phrase p-2 px-4" style="background-color: #fe5532; color: white;">for seamless language practice.</h1>
        </div>
        <div class="row">
            <div class="intro-text col-md-3 d-flex flex-column gap-2 justify-content-center align-items-center">
                <p class="text-start px-4">
                    We believe in the limitless potential of <span style="color:   #fe5532;">online education</span> to break down geographical barriers,
                     empowering individuals to learn at their own pace and providing opportunities for growth through 
                     <span style="color:   #fe5532;">collaboration </span>. 
                </p>
                <h5 class="itim-regular">
                    Start for free<br/>
                    join and find your partner 
                </h5>
                <a href="" class="btn btn-orange-white rounded-pill px-3">Join <i class="fa-solid fa-arrow-right-to-bracket"></i></a> 
                
            </div>
            <div class=" col-md-6 my-3 d-flex flex-column gap-2 justify-content-center align-items-center">
               
                <div class="d-flex  justify-content-center align-items-center gap-2">
                    <div class="left-top d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-face-laugh fs-1 text-white"></i>
                    </div>
                    <div class="middle-top img-part"></div>
                    <div class="right-top img-part d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-comments fs-1 text-white"></i>
                    </div>
                </div>
                <div class="d-flex justify-content-center align-items-center gap-2">
                    <div class="left-middle img-part d-flex  justify-content-start align-items-center">
                        <p class="p-1 fw-bold">Your journey to learning and fun begins here.
                            <span class="text-white fs-6 fw-bold">*</span>
                        </p>
                       
                    </div>
                    <div class="middle-middle img-part"></div>
                    <div class="right-middle img-part d-flex  justify-content-end align-items-center">
                        <p class="p-1 fw-bold">Do you have an account?
                            <a href="" class="btn btn-orange rounded-pill px-3">Login</a> 

                        </p>


                    </div>
                </div>
                <div class="d-flex justify-content-center align-items-center gap-2">
                    <div class="bottom img-part"></div>

                </div>
            </div>
           <!-- <div class="col-md-3 d-flex flex-column gap-2 justify-content-center ">
                <h5 class="itim-regular text-center">Recent blogs</h5>
                <div class="d-flex flex-column gap-2 ">
                    <a href="" class="btn btn-posts rounded-pill">
                        Title of blog
                    </a>
                    <a href="" class="btn btn-posts rounded-pill">
                        Title of blog
                    </a>
                    <a href="" class="btn btn-posts rounded-pill">
                        Title of blog
                    </a>
                    <div class="d-flex arrow-right-container justify-content-center align-items-center mt-2">
                        <a href="" class="orange-link text-center ">
                            See All 
                        </a>
                        <i class="fa-solid fa-arrow-right-long text-center px-1"></i>    
                    </div>
                    
                </div>
            </div>-->

                  <div class="col-md-3 d-flex flex-column gap-2 justify-content-center">
                    <h5 class="itim-regular text-center">Recent blogs</h5>
                    <div class="d-flex flex-column gap-2 justify-content-center align-items-center">
                        <a href="">
                        <div class="dropdown">
                            <p class="dropbtn btn-posts rounded-pill fs-6 py-2 px-5 fw-bold text-center">Title of blog</p>
                            <div class="dropdown-content ">
                            
                                <div class="d-flex bg-light">
                                    <img src="{% static 'images/soundon.jpg' %}" alt="Blog Image" class="w-50" style="object-fit: cover;">
                                    <div class="text">
                                        <h6 class="text-dark">Blog Heading</h6>
                                        <p class="text-dark">Short description or teaser text about the blog post...</p>
                                    </div> 
                                </div>
                            </div>
                          </div>
                        </a>
                        
                        <a href="">
                            <div class="dropdown">
                                <p class="dropbtn btn-posts rounded-pill fs-6 py-2 px-5 fw-bold text-center">Title of blog</p>
                                <div class="dropdown-content ">
                                
                                    <div class="d-flex bg-light">
                                        <img src="{% static 'images/soundon.jpg' %}" alt="Blog Image" class="w-50" style="object-fit: cover;">
                                        <div class="text">
                                            <h6 class="text-dark">Blog Heading</h6>
                                            <p class="text-dark">Short description or teaser text about the blog post...</p>
                                        </div> 
                                    </div>
                                </div>
                              </div>
                            </a>
                       
                  
                        <!-- See All Link -->
                        <div class="arrow-right-container justify-content-center align-items-center mt-2">
                          <a href="{% url 'blogs:blogs_all_view'%}" class="orange-link text-center">
                            See All 
                          </a>
                          <i class="fa-solid fa-arrow-right-long text-center px-1"></i>    
                        </div>
                      </div>
                  </div>


        </div>
        <div class="container py-5">
            <h3 class="itim-regular text-center">Best Partners</h3>
            <div class="w-100 d-flex justify-content-end align-items-end">
                <a href="" class="orange-link text-end mb-3 ">See More</a>
            </div>
           
            <div class="row">
              <a href="#" class="col-md-4 card-link">
                <div class="card">
                  <img src="{%static 'images/man-3373868_1280.jpg' %}" alt="Card image">
                  <div class="card-info">
                    <h5>Card Title</h5>
                    <p>This is some information about the card. It appears on hover.</p>
                  </div>
                </div>
              </a>
              <a href="#" class="col-md-4 card-link">
                <div class="card">
                  <img src="{%static 'images/man-3373868_1280.jpg' %}" alt="Card image">
                  <div class="card-info">
                    <h5>Card Title</h5>
                    <p>This is some information about the card. It appears on hover.</p>
                  </div>
                </div>
              </a>
              <a href="#" class="col-md-4 card-link">
                <div class="card">
                  <img src="{%static 'images/man-3373868_1280.jpg' %}" alt="Card image">
                  <div class="card-info">
                    <h5>Card Title</h5>
                    <p>This is some information about the card. It appears on hover.</p>
                  </div>
                </div>
              </a>
            </div>
          </div>

    
     
     {%endblock%}