{% extends 'main_app/base.html' %}
{% load static %}
{% block content %}

<div>
    <div class="flex items-center justify-center">
        <div class="w-4/5">
            <div class="p-10 ">
                <div class="grid grid-cols-4 gap-4">
                    <div class="col-span-3 relative bg-white rounded-lg p-0 pt-10 pb-4" style="height:75vh;">
                        <div class="px-5 flex my-2 w-full">
                            <div class="w-11/12 p-5 text-start text-sm rounded-lg bg-orange-300">
                                <span>ما هي اهتماماتك المهنية؟</span>
                            </div>
                            <img src="{%static 'images/chatbot.png'%}" alt="صورة" class="rounded-full ml-2 self-center h-15 w-20 p-3">
                            <span class="w-1/12 text-xs px-2 text-start">07:33Am</span>
                        </div>

                        <div class="px-5 flex w-full mt-10">
                            <span class="w-1/12 text-xs px-2 text-start">07:33Am</span>
                            <div class="w-11/12 p-5 text-start text-sm rounded-lg bg-[#DBD9EA]">
                                <span>
                                    <ol class="space-y-4">
                                        <li><span class="font-bold">1.</span> ما هي المهارات التي تمتلكها؟</li>
                                        <li><span class="font-bold">2.</span> ما هي المجالات التي تفضل العمل بها؟</li>
                                        <li><span class="font-bold">3.</span> كيف ترى نفسك في المستقبل؟</li>
                                        <li><span class="font-bold">4.</span> ما هي القيم التي تهمك في العمل؟</li>
                                        <li><span class="font-bold">5.</span> هل لديك نماذج يحتذى بها في حياتك المهنية؟</li>
                                    </ol>
                                </span>
                            </div>
                            <img src="{%static 'images/chatbot.png'%}"  alt="صورة" class="rounded-full ml-2 self-center h-15 w-20 p-3">
                        </div>
                        <div class="bottom-0 absolute px-5 w-full mb-5">
                            <div class="flex items-center">
                                <input placeholder="اكتب سؤالك الذكي لمسار" type="text" class="px-2 w-full bg-[#F3F1FF] h-10 rounded-lg" name="" id="">
                                <button class="ml-2 flex items-center">
                                    <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M19 10V12C19 15.866 15.866 19 12 19M5 10V12C5 15.866 8.13401 19 12 19M12 19V22M8 22H16M12 15C10.3431 15 9 13.6569 9 12V5C9 3.34315 10.3431 2 12 2C13.6569 2 15 3.34315 15 5V12C15 13.6569 13.6569 15 12 15Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                    <svg class="rotate-180" width="20px" height="20px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" id="send">
                                        <path d="M21.66,12a2,2,0,0,1-1.14,1.81L5.87,20.75A2.08,2.08,0,0,1,5,21a2,2,0,0,1-1.82-2.82L5.46,13H11a1,1,0,0,0,0-2H5.46L3.18,5.87A2,2,0,0,1,5.86,3.25h0l14.65,6.94A2,2,0,0,1,21.66,12Z" style="fill:#231f20"></path>
                                    </svg>
                                </button>
                            </div>
                        </div>

                 
                    </div>

                    <div class="col-span-1 bg-white rounded-lg p-3">
                        <div class="mt-5">
                            <button class="bg-[#FAAE17] rounded-lg text-sm text-white px-6 py-2">إنشاء محادثة جديدة</button>
                        </div>

                        <div class="flex flex-col  ">
                            <div class="flex justify-between">
                                <span dir="ltr">07:45 am ></span>
                                <span class="font-bold">اسئلة مهنية</span>
                            </div>
                            <div class="text-lg">ما هي اهتماماتك المهنية؟</div>
                            <img src="{%static 'images/chatbot.png'%}"  alt="مهنة 1" class="rounded-lg h-15 w-20 p-3 ">

                            <div class="flex justify-between">
                                <span dir="ltr">07:44 am ></span>
                                <span class="font-bold">قيم العمل</span>
                            </div>
                            <div class="text-lg">ما هي القيم التي تهمك في العمل؟</div>
                            <img src="{%static 'images/chatbot.png'%}"  alt="مهنة 1" class="rounded-lg h-15 w-20 p-3 ">
                            
                            <div class="flex justify-between">
                                <span dir="ltr">07:43 am ></span>
                                <span class="font-bold">رؤية المستقبل</span>
                            </div>
                            <div class="text-lg">كيف ترى نفسك في المستقبل؟</div>
                            <img src="{%static 'images/chatbot.png'%}"  alt="مهنة 1" class="rounded-lg h-15 w-20 p-3 ">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}