{% extends 'main/base.html' %}
{% load static %}

{% block title %}The Gallery{% endblock %}

{% block intro %}
<section>
    <div class="hero rounded-1 shadow justify-content-center">
        <!-- Hero Title -->
        <div class="d-flex flex-column text-start text-center">
            <h1 class="text-beige-200 display-4 text-white-shadow">The Gallery</h1>
            <h2 class="text-offwhite text-white-shadow">-Dive into creativity with our art collection-</h2>
        </div>
        <!-- Hero video -->
        <video autoplay loop muted class="video-bg">
            <source src="{% static  'videos/TheGalleryVid.mp4' %}" type="video/mp4" alt="Hero video">
        </video>
    </div>
</section>
{% endblock %}

{% block content %}
<section class="container-md text-beige-100 text-center light-bg mb-5">
    <h1 class="display-6 text-white-shadow mb-4">Pieces by Our Artists</h1>
    <div class="pieces-grid">
        <div class="pieces">
            <div class="card text-light border-0">
                <img src="{% static 'images/painting1.jpg' %}" class="card-img shadow-lg" alt="Art Piece">
                <div class="card-img-overlay align-content-end">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text"><small>Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
        <div class="pieces">
            <div class="card text-light border-0">
                <img src="{% static 'images/painting2.jpg' %}" class="card-img shadow-lg" alt="Art Piece">
                <div class="card-img-overlay align-content-end">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text"><small>Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
        <div class="pieces">
            <div class="card text-light border-0">
                <img src="{% static 'images/painting2.jpg' %}" class="card-img shadow-lg" alt="Art Piece">
                <div class="card-img-overlay align-content-end object-fit-fill">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text"><small>Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
        <div class="pieces">
            <div class="card text-light border-0">
                <img src="{% static 'images/painting1.jpg' %}" class="card-img shadow-lg" alt="Art Piece">
                <div class="card-img-overlay align-content-end">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text"><small>Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container-md text-beige-100 text-center">
    <h1 class="display-6 text-white-shadow my-3">Our Artists</h1>
    <!-- scroller -->
    <div class="mx-auto" data-direction="left" data-speed="fast">
        <!-- scroller-inner -->
        <div class="scroller-inner">
            <div class="card text-light border-0">
                <img src="{% static 'images/painting2.jpg' %}" class="card-img shadow" alt="Art Piece">
                <div class="card-img-overlay align-content-end">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text"><small>Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}