{% extends "main/base.html" %}

{% block title %}update.user.username{% endblock %}

{% block content %}

<div class="container d-flex flex-column align-items-center justify-content-center" style="min-height: 90vh;">
    <h1 class="text-center mb-4">update profile </h1>
    <form method="post" action="{% url 'users:update_profile_view' %}" class="w-50">
        {% csrf_token %}
    
        <!-- Email -->
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required value="{{request.user.email}}">
        </div>
        
        <!-- First Name -->
        <div class="mb-3">
            <label for="first_name" class="form-label">First Name</label>
            <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Enter your first name" required value="{{request.user.first_name}}">
        </div>

        <!-- Last Name -->
        <div class="mb-3">
            <label for="last_name" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Enter your last name" required value="{{request.user.last_name}}">
        </div>
        <div class="mb-3">
            <label for="phone_number" class="form-label">Phone Number (For Customers)</label>
            <input type="text" class="form-control" id="phone_number" name="phone_number" placeholder="Enter your phone number" value="{{request.user.customer.phone_number}}">
        </div>

        <!-- Submit Button -->
        <div class="d-flex justify-content-center mt-5">
            <button type="submit" class="btn btn-primary w-50">update profile</button>
        </div>
    </form>
</div>
{% endblock %}
