/* Body Styling */
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    color: #333;
    font-family: 'Arial', sans-serif;
    background-image: url('/static/images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: -1;
}

/* Main Content */
main {
    flex: 1;
}

/* Navbar Styling */
/* Navbar Styling */
.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding: 0.5rem 1rem; /* Adjust padding for smaller height */
}

.navbar-brand {
    font-weight: bold;
    color: #007bff;
    font-size: 1.25rem; /* Smaller font size */
}

.navbar-nav .nav-link {
    font-weight: 500;
    color: #333;
    font-size: 0.9rem; /* Smaller font size for nav links */
}

.navbar-nav .nav-link.active {
    color: #007bff;
}

/* Header Section (Blue Bar) */
header {
    background-color: #007bff; /* Blue color */
    color: white;
    text-align: center;
    padding: 1rem; /* Adjust padding to reduce height */
    font-size: 1.5rem; /* Smaller font size for header text */
}

header h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

/* Footer Styling */
footer {
    border-top: 1px solid #ddd;
    background-color: #f8f9fa;
    color: #666;
    text-align: center;
    padding: 20px 0;
    font-size: 0.9rem;
}

footer p {
    margin: 0;
}

/* Custom Button Styles */
button.btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 0.9rem;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

button.btn:hover {
    background-color: #0056b3;
}

/* Spacing Helpers */
.my-5 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.py-4 {
    padding-top: 20px;
    padding-bottom: 20px;
}
