.background-image {
    background-image: url('{% static "main_app/images/Background.webp" %}');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}


