{% extends 'main/base.html' %}
{% load static %}

{% block title %}Home{% endblock %}
{% block style %}
<style>

.bg-dark {
    background: linear-gradient(135deg, #1a1a1a, #343a40);
}
.card:hover {
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}
</style>


{% endblock %}
{% block content %} 

<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder text-white mb-2">The Right Place to Book artist</h1>
                    <p class="lead fw-normal text-white-50 mb-4"></p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                        <a class="btn btn-outline-light btn-lg px-4 me-sm-3" href="{% url 'main:home_view' %}">Explore artists!</a>
                        <a class="btn btn-outline-light btn-lg px-4" href="{% url 'main:about_view' %}">Learn More About Us</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="" alt="..." /></div>
        </div>
    </div>
</header>
<section class="feature-section padding-layout">
    <div class="container">
        <div class="heading-contanier text-center">
            <h2>why <span>B</span>ueati <span>B</span>ook</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="box">
                    <div class="box-icon">
                        <i class="fa-solid fa-house"></i>
                    </div>
                    <div class="detail-box">
                        <h5>Talented Artist</h5>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium, reiciendis.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="box">
                    <div class="box-icon">
                        <i class="fa-solid fa-house"></i>
                    </div>
                    <div class="detail-box">
                        <h5>Talented Artist</h5>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium, reiciendis.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="box">
                    <div class="box-icon">
                        <i class="fa-solid fa-house"></i>
                    </div>
                    <div class="detail-box">
                        <h5>Talented Artist</h5>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium, reiciendis.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>   
</section>
{% endblock %}