{% extends 'main/base.html' %}

{% load static %}

{% block body_class %}Login{% endblock %}
{% block header_class %}login-page-header{% endblock %}


{% block content %}

<main class="login-wrapper">
    <div class="login-box">
        <h1 class="login-header">Login</h1>
        <form action="{% url 'accounts:login_view' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}" method="post" class="login-form">
            {% csrf_token %}
            <div class="form-group">
                <label for="email_or_username">Email or Username</label>
                <input type="text" name="email_or_username" id="email_or_username" placeholder="Enter your email or username" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <div class="password-wrapper">
                    <input type="password" name="password" id="password" placeholder="Enter your password" class="form-control" required>
                    <span class="toggle-password">Show</span>
                </div>
            </div>
            <button type="submit" class="login-button">Log in</button>
            <div class="login-links">
                <a href="#">Forgot your password?</a>
            </div>
        </form>
    </div>
</main>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const togglePassword = document.querySelector(".toggle-password");
        const passwordInput = document.querySelector("#password");

        togglePassword.addEventListener("click", function () {
            const type = passwordInput.getAttribute("type") === "password" ? "text" : "password";
            passwordInput.setAttribute("type", type);

            this.textContent = type === "password" ? "Show" : "Hide";
        });
    });
</script>


{% endblock %}