{% extends 'main/base.html' %}

{% load static %}

{% block body_class%}Organization Sign Up{% endblock %}

{% block content %}

<main class="signup-page">
  <div class="signup-container">
    <div class="signup-right">
      <h1 class="signup-right-header">Create an account</h1>
      <p> Already have an account?
        <a href="{% url 'accounts:login_view' %}">Log in</a>
      </p>

      <form action="{% url 'accounts:organization_signup_view' %}" method="post" class="signup-form" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-row">
          <input type="text" name="organization_name" placeholder="Organization Name" class="form-control" required/>
        </div>

        <div class="form-row">
          <input type="email" name="email" placeholder="Email" class="form-control" required/>
        </div>

        <div class="form-row">
          <input type="password" name="password" placeholder="Enter Password" class="form-control" required/>
        </div>

        <div class="form-row">
          <textarea name="description" placeholder="Description/About Us" class="form-control" rows="3"></textarea>
        </div>

        <div class="terms">
          <input type="checkbox" id="terms" required /><label for="terms"
            >I agree to the <a href="#">Terms & Conditions</a></label>
          </div>

        <button type="submit" class="signup-submit-button">Create Account</button>
      </form>
    </div>
    
    <div class="signup-left">
      <a href="{% url 'main:main_view'%}" class="back-to-site">Back to website →</a>
      <div class="left-content">
        <h1 class="signup-header-text">Empower Communities, Shape the Future</h1>
      </div>
    </div>
  </div>
</main>
{% endblock %}
