{% extends 'base.html' %}
{% load static %}
{% block title %}New Fund{% endblock %}

{% block main %}

<main>
    <h1 class="display-6 text-center special-color pt-2">Add New Fund</h1>
    <hr class="special-color2" style="width:15%;margin: 0 auto;">
    <div class="container pt-5">
        <div class="row row-cols-1 row-cols-md-2 g-5 justify-content-center">
            <div class="col shadow rounded p-3 special-color">
                <h1 class="">New Fund</h1>
                <h4>Fill the form bellow</h4>
                <form class="mt-5" action="{% url 'funds_app:add_fund_view' %}" method="post">
                    {% csrf_token %}

                    <div class="form-outline mb-4">
                        <label class="form-label" for="name">Fund Name</label>
                        <input type="text" id="name" name="fund_name" class="form-control" placeholder="FamilyFund" maxlength="20" required/>
                    </div>

                    <div class="form-outline mb-4">
                        <label class="form-label" for="about">Funds Description</label>
                        <textarea id="about" name="about" class="form-control" placeholder="Describe The Fund" required></textarea>
                    </div>

                    <div class="form-outline mb-4">
                        <label class="form-label" for="policies">Funds Policies</label>
                        <textarea id="policies" name="policies" class="form-control" placeholder="Set The Fund Policies" required></textarea>
                    </div>

                    <div class="form-outline mb-4">
                        <label class="form-label" for="monthly_stock">Monthly Stock</label>
                        <input type="number" id="monthly_stock" name="monthly_stock" class="form-control" min="100" max="5000" required>
                    </div>

                    <div class="form-outline mb-4">
                        <label class="form-label" for="hold_duration">Hold Duration Years</label>
                        <input type="number" id="hold_duration" name="hold_duration" class="form-control" min="0" max="5" aria-describedby="HoldDurationHelp" required>
                        <div id="HoldDurationHelp" class="form-text">Hold Durations is the duration of saving before allowing fund requests to members</div>
                    </div>

                    <div class="form-outline mb-4">
                        <h6>Members</h6>
                        <div class="form-check d-flex">
                            {% for member in members %}
                            <div class="m-3">
                                <input class="form-check-input" id="member-{{member.id}}" name="members" type="checkbox" value="{{member.id}}">
                                <label class="form-label" for="member-{{member.id}}">{{member.username}}</label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary btn-block p-2 mb-4">Add New Fund</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</main>
{% endblock %}