{% extends 'base.html' %}
{% load static %}
{% block title %}New Fund{% endblock %}

{% block main %}
<main>
    <form class="d-flex flex-column gap-4 shadow rounded p-5 m-5" action="{% url 'main:rate_us_view' %}" method="post">
    {% csrf_token %}
    <div>
        <label for="review" class="form-label">Name</label>
        <input type="text" class="form-control" id="review" name="name" required placeholder="Hmzh dubh">

        <label for="subject" class="form-label">Subject</label>
        <input type="text" class="form-control" id="subject" name="subject" required placeholder="Services">

        <label for="comment" class="form-label">Comment</label>
        <input type="text" class="form-control" id="comment" name="comment" required placeholder="The Services Are amazingly structured and managed">
    </div>

    <div class="form-outline">
        <p class="form-label">Rating: </p>
        <div class="form-check ">
            <div class="m-3 d-flex gap-3">
            {% for rate, value in rates %}
                <label class="form-label" for="{{rate}}" title="text">{{rate}}</label>
                <input class="form-check-label" type="radio" id="{{rate}}" name="rating" value="{{rate}}" required/>
            {% endfor %}
            </div>
        </div>
    </div>
    <input class="btn btn-success" type="submit" name="Add">
</form>
</main>
{% endblock %}