{% extends 'base.html' %}
{% load static %}
{% block title %}Update Fund{% endblock %}

{% block main %}

<main>
    <h1 class="display-6 text-center special-color pt-2">Update Fund</h1>
    <hr class="special-color2" style="width:15%;margin: 0 auto;">
    <div class="container pt-5">
        <div class="row row-cols-1 row-cols-md-2 g-5 justify-content-center">
            <div class="col shadow rounded p-3 special-color">
                <h1 class="">Update Fund</h1>
                <h4>Fill the form bellow</h4>
                <form class="mt-5" action="{% url 'funds_app:update_fund_view' fund.id %}" method="post">
                    {% csrf_token %}

                    <div class="form-outline mb-4">
                        <label class="form-label" for="name">Fund Name</label>
                        <input type="text" id="name" name="fund_name" class="form-control" value="{{fund.fund_name}}" placeholder="Camry" required/>
                    </div>

                    <div class="form-outline mb-4">
                        <label class="form-label" for="about">Funds Description</label>
                        <textarea id="about" name="about" class="form-control" placeholder="Describe The Fund" required>{{fund.about}}</textarea>
                    </div>

                    <div class="form-outline mb-4">
                        <label class="form-label" for="policies">Funds Policies</label>
                        <textarea id="policies" name="policies" class="form-control" placeholder="Set The Fund Policies" required>{{fund.policies}}</textarea>
                    </div>

                    <div class="form-outline mb-4">
                        <label class="form-label" for="monthly_stock">Monthly Stock</label>
                        <input type="number" id="monthly_stock" name="monthly_stock" class="form-number" value="{{fund.monthly_stock}}" max="2025" required>
                    </div>

                    <div class="form-outline mb-4">
                        <label class="form-label" for="hold_duration">Hold Duration Years</label>
                        <input type="number" id="hold_duration" name="hold_duration" class="form-number" value="{{fund.hold_duration}}" min="1" aria-describedby="HoldDurationHelp" required>
                        <div id="HoldDurationHelp" class="form-text">Hold Durations is the duration of saving before allowing fund requests to members</div>
                    </div>
                    <div class="form-control mb-4 ">
                        <div class="form-check form-switch">
                            <label class="form-check-label me-5" for="flexSwitchCheckChecked1">Public</label>
                            <input class="form-check-input me-5" type="checkbox" name="fund-privacy" role="switch" id="flexSwitchCheckChecked1" checked>
                            <label class="form-check-label" for="flexSwitchCheckChecked1">Private</label>
                        </div>

                        <div class="form-check form-switch">
                            <label class="form-check-label me-5" for="flexSwitchCheckChecked">Closed</label>
                            <input class="form-check-input me-5" type="checkbox" name="fund-status" role="switch" id="flexSwitchCheckChecked" checked>
                            <label class="form-check-label" for="flexSwitchCheckChecked">Open</label>
                        </div>
                    </div>

                    <div class="form-outline mb-4 gap-2">
                        <h6>Fund Members</h6>
                        <div class="">
                            {% for member in fund.fund_members.all %}
                            <label class="pe-4" for="member-{{member.id}}">{{member.username}}</label>
                            <input class="form-check-input" id="member-{{member.id}}" name="members" type="checkbox" value="{{member.id}}" checked>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-outline mb-4 gap-2">
                        <h6>Add Members</h6>
                        <div class="">
                            {% for member in members %}
                            {% if not member in fund.fund_members.all %}
                            <label class="pe-4" for="member-{{member.id}}">{{member.username}}</label>
                            <input class="form-check-input" id="new_member-{{member.id}}" name="members" type="checkbox" value="{{member.id}}">
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>

                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary btn-block p-2 mb-4">Update Fund</button>
                        <button type="button" class="btn btn-primary" id="liveToastBtn">Show live toast</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</main>
{% endblock %}