{% extends 'main/base.html' %}
{% load static %}

{% block title %}Art Pieces{% endblock %}

{% block content %}
    <section class="container-md text-center">
        <div class="mt-3 d-flex flex-row gap-3 justify-content-center align-items-center mb-2">
            <h1 class="text-beige-100">
            Art Pieces
            </h1>
            {% if user.is_staff and perms.artPieces.add_artpiece %}
            <a href="{% url 'artPieces:addArtPieceView' %}" class="fs-4 px-2 hover-color"><i class="bi bi-plus-square"></i></a>
            {% endif %}
        </div>
        <img src="{% static 'images/underline.png' %}" width="200" alt="">
       
        <form action="{% url 'artPieces:displayArtPiecesView' %}{% querystring %}" method="get" class="my-1 needs-validation"
        novalidate>
            <div class="input-group justify-content-center">
                <input class="form-control text-offwhite bg-blur-lighter focus-ring focus-ring-dark rounded-start-2 border-0" placeholder="Search.." style="max-width: 300px;"
                    type="search" aria-label="Search" name="search"
                    value="{{request.GET.search}}" minlength="2">
                <button class="btn-search rounded-end-2" type="submit">
                    <i class="bi bi-search"></i>
                </button>
                <div class="invalid-feedback">
                    Please enter more than 2 letters.
                </div>
            </div>
        </form>
        <form action="{% url 'artPieces:displayArtPiecesView' %}{% querystring %}" method="get" class="mt-2 mb-3">
            <div class="d-flex flex-column">
                <label for="artist" class="form-label text-beige-100 fs-5 mt-auto">Filter by Artist: </label>
                <select id="artist" name="artist" class="form-select bg-blur-lighter text-burgundy-darker border-0 focus-ring focus-ring-dark mx-auto" aria-label="Piece select" style="max-width: 340px;">
                    <option disabled>Choose Artist..</option>
                    <option value="">All</option>
                    {% for artist in artists %}
                    <option value="{{artist.fullName}}" {% if artist.fullName == request.GET.artist %}selected{% endif %}>{{artist.fullName}}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="px-3 rounded-1 btn-beige-200 mx-auto my-2">
                Apply
                </button>
            </div>
        </form>

        {% include 'artPieces/components/piecesList.html' %}
        
        <!-- Pagination -->
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center gap-2 mt-5">
                {% if pieces.number != 1 %}
                <li class="page-item">
                    <a href="{% url 'artPieces:displayArtPiecesView' %}{% querystring page=1 %}" 
                    class="page-link bg-blur border-0 rounded-1 text-offwhite hover-color focus-ring focus-ring-dark backward">
                    <img src="{% static 'images/first.svg' %}" alt="" width="15">
                    </a>
                </li>
                {% endif %}
                {% if pieces.has_previous %}
                <li class="page-item">
                    <a href="{% url 'artPieces:displayArtPiecesView' %}{% querystring page=pieces.previous_page_number %}" 
                    class="page-link bg-blur border-0 rounded-1 text-offwhite hover-color focus-ring focus-ring-dark backward">
                        <img src="{% static 'images/prev.svg' %}" alt="" width="15">
                    </a>
                </li>
                {% endif %}
                <li class="page-item">
                    <p class="page-link bg-blur-lighter border-0 rounded-1 text-offwhite focus-ring focus-ring-dark">Page {{pieces.number}}</p>
                </li>
                {% if pieces.has_next %}
                <li class="page-item">    
                    <a href="{% url 'artPieces:displayArtPiecesView' %}{% querystring page=pieces.next_page_number %}" 
                    class="page-link bg-blur border-0 rounded-1 text-offwhite hover-color focus-ring focus-ring-dark forward">
                        <img src="{% static 'images/next.svg' %}" alt="" width="18">
                    </a>
                </li>
                {% endif %}
                {% if pieces.number != pieces.paginator.num_pages %}
                <li class="page-item">
                    <a href="{% url 'artPieces:displayArtPiecesView' %}{% querystring page=pieces.paginator.num_pages %}" 
                    class="page-link bg-blur border-0 rounded-1 text-offwhite hover-color focus-ring focus-ring-dark forward">
                        <img src="{% static 'images/last.svg' %}" alt="" width="18">
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
        <!-- Pagination end -->
    </section>
{% endblock %}