{% extends 'main/base.html' %}
{% load static %}

{% block title %}Art Pieces{% endblock %}

{% block content %}
    <section class="container-md text-center">
        <h1 class="mb-0 mt-3 text-beige-100">
        Art Pieces
        </h1>
        <img src="{% static 'images/underline.png' %}" class="mb-3" width="200" alt="">
        <div class="d-flex justify-content-center mb-4">
            {% if user.is_staff and perms.artpieces.add_artpiece %}
            <a href="{% url 'artPieces:addArtPieceView' %}" class="btn-beige-400">New</a>
            {% endif %}
        </div>

        {% include 'artPieces/components/piecesList.html' %}
        
        <!-- Pagination -->
        <div class="container justify-content-center my-5">
            <span>
                {% if pieces.has_previous %}
                <a href="{% url 'artPieces:displayArtPiecesView' %}{% querystring page=pieces.previous_page_number %}" class="p-2">Previous</a>
                {% endif %}
                <span class="p-2 text-beige-100">
                    Page {{ pieces.number }} of {{ pieces.paginator.num_pages }}
                </span>
                {% if pieces.has_next %}
                <a href="{% url 'artPieces:displayArtPiecesView' %}{% querystring page=pieces.next_page_number %}" class="p-2">Next</a>
                {% endif %}
            </span>
        </div>
    </section>
{% endblock %}