{% extends 'main/base.html' %}
{% load static %}

{% block title %}{{piece.name}} Details{% endblock %}

{% block content %}
<section class="container-md text-center">
    
    <div class="container-lg">
        <div class="d-flex gap-2 justify-content-end my-2">
            {% if user.is_staff and perms.artpieces.change_artpiece %}
            <a href="{% url 'artPieces:updateArtPieceView' piece.id %}"
                class="btn-beige-200 border-2 shadow-sm my-auto">
                Update
            </a>
            {% endif %}
            <!-- Button to trigger delete modal -->
            {% if user.is_staff and perms.artpieces.delete_artpiece %}
            <button type="button" class="btn-beige-200 border-2 shadow-sm my-auto" data-bs-toggle="modal"
                data-bs-target="#deleteModal">
                Delete
            </button>
            {% endif %}
        </div>
        <div class="row row-cols-1 row-cols-md-3 p-3 bg-blur-lighter rounded-1 shadow-lg">
            <div class="col col-md-5 p-0">
                <img src="{{piece.photo.url}}" alt="Art Piece Image" class="rounded-1 w-100 custom-img">
            </div>
            <div class="col col-md-7 p-2 ps-5">
                <div class="d-flex flex-column justify-content-center">
                    <p class="display-6 m-0 text-burgundy-darker">{{piece.name}}</p>
                    <img src="{% static 'images/underlineDark.png' %}" class="mb-3 mx-auto" width="220" alt="">
                </div>
                
                <div class="d-flex flex-column text-start">
                    <p class="fs-5 text-burgundy-darker">
                        <span class="fw-bold fs-4 text-burgundy">Description: </span>{{piece.description}}
                    </p>
                    <p class="fs-5">
                        <span class="fw-bold fs-4 text-burgundy">Artist: </span><a href="{% url 'artists:artistDetailsView' piece.artist.id %}" class="hover-color fs-5">{{piece.artist.fullName}}</a>
                    </p>
                    <p class="fs-5 text-burgundy-darker">
                        <span class="fw-bold fs-4 text-burgundy">Sold: </span>{% if piece.isSold %}Yes{% else %}No{% endif %}  
                    </p>
                    <p class="fs-5 text-burgundy-darker">
                        <span class="fw-bold fs-4 text-burgundy">Current Location: </span>{{piece.currentLocation}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Delete art piece modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content bg-blur-lighter">
                <div class="modal-header">
                    <h1 class="modal-title text-burgundy-darker fs-4" id="deleteModalLabel">Delete Art Piece</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-burgundy fs-5">
                    Are you sure you want to delete '<strong class="text-burgundy-darker">{{piece.name}} by {{piece.artist.fullName}}</strong>'?
                </div>
                <div class="modal-footer py-1">
                    <button type="button" class="btn-beige-200 shadow-sm py-0" data-bs-dismiss="modal">Close</button>
                    <a href="{% url 'artPieces:deleteArtPieceView' piece.id %}" class="btn-beige-400 shadow-sm py-0 text-white">Delete</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container-lg my-5">
    <p class="fs-3 fw-medium mt-3 mb-0 text-beige-100">
        More Art Pieces From <a href="{% url 'artists:artistDetailsView' piece.artist.id %}" class="fs-3 hover-underline text-offwhite">{{piece.artist.fullName}}:</a>
    </p>
    {% with relatedPieces as pieces %}
       {% include 'artPieces/components/piecesList.html' %}
    {% endwith %}
</section>
{% endblock %}